In [1]:
import pandas as pd
import numpy as np
import math
import scipy.stats as stats

In [2]:
Data=pd.read_csv("C:/Users/Vishal/Desktop/Python/8. Basic Stats - Case Study-2/Testing_Of_Hypothesis.csv")

Data.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

In [3]:
print("a. In order to check if the Samsungs average satisfaction score is minimum 75% we'll be doing the one sample t test taking the null hypothesis that the average of Samsung score is 75% i.e ho=75")

print("\n",stats.ttest_1samp(a=Data['Samsung Score'],popmean=75))

print("\nAs we can see that the P value is extremely small our null hypothesis doen't hold true for this. Also on checking the mean we can see that ")

print("The mean of Samsung score=",Data['Samsung Score'].mean())

print("\nThe value of mean is 84.9 which is much greater than 75, thus we can conclude that it's greater than 75%")

a. In order to check if the Samsungs average satisfaction score is minimum 75% we'll be doing the one sample t test taking the null hypothesis that the average of Samsung score is 75% i.e ho=75

 Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

As we can see that the P value is extremely small our null hypothesis doen't hold true for this. Also on checking the mean we can see that
The mean of Samsung score= 84.9

The value of mean is 84.9 which is much greater than 75, thus we can conclude that it's greater than 75%

In [4]:
print("b. In order to check if the overall average satisfaction score of Samsung is same as Apple we'll be doing the 2 sample t test taking the hypothesis that the Average of two is equal to each other")

print("\n",stats.ttest_ind(a=Data['Samsung Score'],b=Data['Apple_Score'],equal_var=True))

print("\nOn seeing the P value we can see that it meets requiremnts of 95% confidance value. As it is greater tha 0.05 our null hypothesis will be true thus we can say that the Average of two is same and there is no signifiance difference. On checking the mean")

print("\nThe Mean for Samsung Score =",Data['Samsung Score'].mean())
print("The Mean for Apple Score =",Data['Apple_Score'].mean())

print("The mean is somewhat close to each other so we can conclude that there is ver little difference in the values")

b. In order to check if the overall average satisfaction score of Samsung is same as Apple we'll be doing the 2 sample t test taking the hypothesis that the Average of two is equal to each other

 Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

On seeing the P value we can see that it meets requiremnts of 95% confidance value. As it is greater tha 0.05 our null hypothesis will be true thus we can say that the Average of two is same and there is no signifiance difference. On checking the mean

The Mean for Samsung Score = 84.9
The Mean for Apple Score = 87.81
The mean is somewhat close to each other so we can conclude that there is ver little difference in the values